a {
    color: purple;
}

.menu-list {
    color: green;
}

ol li {
    list-style-position: inside;
}

ul>li>ul {
    list-style: none;
}


.berries {
    list-style-type: square;
}

.vegetables {
    list-style-image: url("../img/li.svg");
}

.berries a {
    text-decoration: none;
}