table {
    border-collapse: collapse;
    font-size: 20px;
}

td {
    width: 150px;
    text-align: center;
    padding: 25px 20px;
}

thead td {
    border: transparent;
    color: #ffff;
    background: rgb(242, 221, 221);
    font-weight: bold;
}

tbody td {
    font-size: 20px;
    border: 2px solid #ffffff;
}

thead td:nth-child(2) {
    background: rgb(229, 184, 183);
}

thead td:nth-child(3) {
    background: rgb(217, 149, 148);
}

thead td:nth-child(4) {
    background: rgb(148, 54, 52);
}

thead td:nth-child(5) {
    background: rgb(99, 36, 35);
}

tbody td:nth-child(1) {
    color: #ffff;
    font-size: 25px;
    background: rgb(192, 80, 77);
}

tbody tr:nth-child(odd) {
    background: rgb(229, 184, 183);
}

tbody tr:nth-child(even) {
    background: rgb(242, 219, 219)
}