* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: oswald;
    color: #545454;
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

header {
    /* background: #ffe1e8; */
    padding: 30px 60px;
    font-weight: 400;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

li {
    list-style-type: none;
}

li>a {
    color: black;
    text-decoration: none;
}

.nav-favourite {
    padding: 2px;
    background: #ff5f60;
    text-align: center;
    padding: 8px;
}

.logo-img {
    height: 60px;
}

.promo {
    background: #f0f4f5;
    padding: 50px 0;
}

.promo-title-main {
    margin-bottom: 12px;
    letter-spacing: 2px;
    font-weight: 100;
}

.promo-title-secondary {
    margin-bottom: 12px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: #808080;
}