:root {
    --color-text-main: #545454;
    --color-text-muted: #808080;
    --color-text-light: #fff;
    --color-bg-light: #f0f4f5;
    --color-bg-dark: #29292c;
    --color-accent: #ff5f60;
    --color-accent-hover: #df2c2c;
    --color-accent-action: #a71c1c;
    --color-gray-light: #cdcdcd;
    --color-black: #000;
    --color-red: red;
    --font-main: "Oswald";
    --font-secondary: Arial, Helvetica, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-main);
    color: var(--color-text-main);
    text-decoration: none;
}

.intensive-desc p,
.cases-item p,
.portfolio-contact-offer,
.promo-title-main {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

header {
    padding: 30px 60px;
    font-weight: 400;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

.primary-nav {
    display: flex;
    gap: 50px;
    align-items: center;
}

li {
    list-style-type: none;
}

li>a {
    color: var(--color-black);
    text-decoration: none;
}

.nav-favourite {
    background: var(--color-accent);
    text-align: center;
    padding: 8px;
}

.logo-img {
    height: 60px;
}

.promo {
    background: var(--color-bg-light);
    padding: 50px 0;
}

.promo-title-main,
.portfolio-contact-offer {
    text-transform: uppercase;
    margin-bottom: 12px;
    letter-spacing: 2px;
    font-weight: 100;
}

p {
    display: block;
    text-transform: none;
    margin-bottom: 5px;
    font-family: var(--font-secondary);
    font-weight: 200;
    font-size: 14px;
    color: var(--color-text-muted);
    line-height: 25px;
}

.portfolio-heading,
.intensive-heading,
.cases-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 72px 0 16px 0;
    text-transform: uppercase;
}

h3,
h5 {
    position: relative;
    margin-bottom: 12px;
    font-weight: 500;
    letter-spacing: 2px;
}

h3::before,
h3::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 2px;
    background: var(--color-red);
    top: 15px;
}

h3::before {
    right: -25px;
}

h3::after {
    right: -15px;
}

button {
    transition: background 0.3s ease;
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 15px;
    border: none;
    background: var(--color-accent);
    color: var(--color-text-light);
    text-transform: uppercase;
    cursor: pointer;
}

button img {
    width: 18px;
    height: 18px;
}

.portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

.portfolio-gallery img {
    width: 330px;
}

.portfolio-item {
    cursor: pointer;
}

.portfolio-contact {
    display: flex;
    margin: 40px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
}

.intensive-heading,
.cases-heading {
    flex-direction: column;
    align-items: first baseline;
}

.intensive-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.intensive-item {
    margin-bottom: 15px;
    display: flex;
    width: 264px;
    max-height: 300px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 15px;
    text-align: center;
    transition: background 0.3s ease;
    transition: box-shadow 0.3s ease;
}

.intensive-round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: var(--color-bg-light);
}

.intensive-desc p {
    font-size: 12px;
    word-spacing: 5px;
    line-height: 20px;
}

.intensive-desc h4 {
    position: relative;
    margin: 12px 0;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 19px;
}

.cases-item img {
    width: 210px;
    margin-right: 20px;
}

.cases-date {
    font-family: var(--font-main);
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-gray-light);
    word-spacing: 5px;
}

.cases-item {
    margin: 20px 0;
    display: flex;
    width: 550px;
    height: fit-content;
}

h5 {
    font-size: 16px;
}

.cases-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 100px;
}

footer {
    background: var(--color-bg-dark);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 75px 0;
}

.media {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.media img {
    width: 30px;
}

.nav-item {
    transition: background 0.3s ease, box-shadow 0.3s ease;
}

.nav-item:hover {
    background: var(--color-bg-light);
    box-shadow: 0 0 0 10px var(--color-bg-light);
}

.nav-item:active {
    background: var(--color-gray-light);
    box-shadow: 0 0 0 10px var(--color-gray-light);
}

.nav-favourite:hover,
button:hover {
    background: var(--color-accent-hover);
}

.nav-favourite:active,
button:active {
    background: var(--color-accent-action);
}

.portfolio-item img,
.media-item img,
.cases-item img {
    transition: filter 0.3s ease;
}

.portfolio-item:hover img,
.media-item:hover img,
.cases-item:hover img {
    filter: brightness(0.7);
}

.portfolio-item:active,
.media-item:active,
.cases-item:active {
    opacity: 0.8;
}

.intensive-item:hover {
    background: var(--color-bg-light);
    box-shadow: 0 20px 0 0 var(--color-bg-light);
}

#menu-toggle {
    opacity: 0;
}

.menu-btn {
    display: none;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 11;
}

.menu-btn>span,
.menu-btn>span::before,
.menu-btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--color-bg-dark);
    transition: 0.3s;
}

.menu-btn>span::before {
    content: '';
    top: -8px;
}

.menu-btn>span::after {
    content: '';
    top: 8px;
}

.menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    text-align: center;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition: 0.3s;
    z-index: 10;
}

.menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: var(--font-main);
    font-size: 20px;
    font-weight: 300;
    text-decoration: none;
    transition: background 0.3s;
}

.menu-item:hover {
    background-color: #CFD8DC;
}

#menu-toggle:checked~.menu-btn>span {
    transform: rotate(45deg);
}

#menu-toggle:checked~.menu-btn>span::before {
    top: 0;
    transform: rotate(0);
}

#menu-toggle:checked~.menu-btn>span::after {
    top: 0;
    transform: rotate(90deg);
}

#menu-toggle:checked~.menu-box {
    visibility: visible;
    right: 0;
}

@media(max-width: 1200px) {

    header {
        padding: 0;
    }

    .main-nav {
        gap: 20px;
    }

    .container {
        padding: 16px;
    }
}

@media (max-width: 768px) {
    .menu-btn {
        display: flex;
    }

    .primary-nav {
        visibility: hidden;
    }

    .portfolio-gallery {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .cases-wrapper {
        justify-content: center;
    }
}

@media(max-width: 576px) {
    .cases-wrapper {
        align-items: center;
        flex-direction: column;
    }

    .cases-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
        width: 100%;
    }

    .cases-item img {
        width: 100%;
    }

}