* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: oswald;
    color: #545454;
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

header {
    padding: 30px 60px;
    font-weight: 400;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

li {
    list-style-type: none;
}

li>a {
    color: black;
    text-decoration: none;
}

.nav-favourite {
    padding: 2px;
    background: #ff5f60;
    text-align: center;
    padding: 8px;
}

.logo-img {
    height: 60px;
}

.promo {
    background: #f0f4f5;
    padding: 50px 0;
}

.promo-title-main {
    margin-bottom: 12px;
    letter-spacing: 2px;
    font-weight: 100;
}

p {
    display: block;
    text-transform: none;
    margin-bottom: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 200;
    font-size: 14px;
    color: #808080;
    line-height: 25px;
}

.portfolio-heading,
.intensive-heading,
.cases-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 72px 0 16px 0;
    text-transform: uppercase;
}

h3, h5 {
    position: relative;
    margin-bottom: 12px;
    font-weight: 500;
    letter-spacing: 2px;
}

h3::before,
h3::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 2px;
    background: red;
    top: 15px;
}

h3::before {
    right: -25px;
}

h3::after {
    right: -15px;
}

button {
    display: flex;
    align-items: center;
    gap: 8px;
    padding: 12px 15px;
    border: none;
    background: #ff5f60;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}

button img {
    width: 18px;
    height: 18px;
}

.portfolio-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 10px;
}

.portfolio-gallery>img {
    width: 372px;
}

.portfolio-contact {
    display: flex;
    margin: 40px auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h4 {
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 300;
}

.intensive-heading,
.cases-heading {
    flex-direction: column;
    align-items: first baseline;
}

.intensive-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.intensive-item {
    display: flex;
    width: 264px;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 15px;
    text-align: center;

}

.intensive-round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: #f0f4f5;
}

.intensive-desc p {
    font-size: 12px;
    word-spacing: 5px;
    line-height: 20px;
}

.intensive-desc h4 {
    position: relative;
    margin-bottom: 12px;
    font-weight: 500;
    letter-spacing: 2px;
    font-size: 19px;
}

.cases-item>img{
    width: 210px;
    margin-right: 20px;
}

.cases-date{
    font-family: Oswald;
    font-weight: 400;
    text-transform: uppercase;
    color: #cdcdcd;
    word-spacing: 5px;
}

.cases-item{
    margin: 20px 0;
    display: flex;
    width: 550px;
    height: fit-content;
}
 
h5{
    font-size: 16px;
}

.cases-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 100px;
}