* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: oswald;
}

.container {
    position: relative;
    max-width: 1140px;
    margin: 0 auto;
}

header {
    background: #ffe1e8;
    padding: 30px 60px;
    font-weight: 400;
    text-transform: uppercase;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}

ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

li {
    list-style-type: none;
}

li>a {
    color: black;
    text-decoration: none;
}

.nav-favourite {
    padding: 2px;
    background: #ff5f60;
    text-align: center;
    padding: 8px;
}

.logo-img {
    height: 60px;
}