.wrapper {
    box-sizing: border-box;
    width: 1140px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    font-family: Arial;
}

header {
    text-align: start;
}

.logo-hyperlink {
    width: 50px;
}

.horizontal-menu {
    float: inline-end;
    list-style-type: none;
    margin: 0;
}

li {
    margin: 10px;
    float: left;
}

li a {
    color: #583079;
    font-weight: bold;
    padding: 10px;
    background: #ff7f50;
    text-decoration: none;
}

main {
    color: #ffffff;
}

.coloured-monolithic {
    margin-top: 20px;
    border-radius: 70px;
    padding: 15px 30px;
    background: #5e1212;
}

.coloured-parent {
    margin-top: 20px;
    background: #975959;
    border-radius: 70px;
    padding: 15px 30px;
}

.coloured-derived {
    box-sizing:border-box;
    width: 500px;
    background: #ac3131;
    border-radius: 70px;
    padding: 15px 30px;
    margin-bottom: 15px;
}

.left{
    float: left;
}

.right{
    float: right;
}

p{
    text-align: start;
    clear: both;
}

strong{
    font-size: 18px;
}