body {
    background: #ffe8d9;
}

section {
    background: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    max-width: 600px;
    margin: 0 auto;
    padding: 15px;
    color: #444444;
    font-size: 20px;
}

h1 {
    margin: 0;
    font-size: 50px;
    font-weight: 400;
}

h2 {
    font-size: 20px;
    margin: 0;
    font-weight: 400;
}

h3 {
    display: inline-flex;
    margin: 0 0 0 10px;
    padding-top: 10px;
    font-weight: 400;
    font-size: 50px;
}

span,
h2 {
    padding-top: 5px;
    color: #848484;
    font-size: 20px;
}

li {
    margin-top: 5px;
}

.weather-trivia {
    margin: 0 40px 0 0;
    padding: 0;
    list-style-type: none;
}

img {
    width: 100px;
}

.current-temp {
    display: flex;
}

.weather-display {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-display {
    position: relative;
    padding: 20px;
}

.week-item::after,
.weather-display::after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1.5px;
    background-color: #cfcfcf;
}

.week-item::after, .weather-display::after {
    bottom: 0;
}

.week-forecast {
    margin: 0;
    padding: 0;
}

.week-item {
    position: relative;
    padding: 0 40px 0 0;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.weather-details {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 60px;
}