* {
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1 {
    font-size: 25px;
    background: #2b2b2b;
    color: #dedede;
    margin: 0;
    padding: 10px;
}

h2 {
    box-sizing: border-box;
    margin: 0;
    min-height: 49px;
    font-size: 16px;
    padding: 10px;
    background: #212121;
    color: #dedede;
}

p {
    text-indent: 20px;
    margin: 20px;
}

.horizontal-navbar {
    position: sticky;
    top: 0;
    z-index: 100;
}

.horizontal-navbar>ul {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #3d3d3d;
    overflow: hidden;
}

.horizontal-navbar ul li {
    float: left;
}

ul li.logout,
ul li.settings {
    float: right;
}

.horizontal-navbar ul li a {
    display: block;
    text-align: center;
    padding: 10.5px;
    text-decoration: none;
}

.horizontal-navbar ul li a:hover {
    background-color: #111;
    border-radius: 100px;
}

.horizontal-navbar ul li a:active {
    background-color: pink;
    border-radius: 100px;
}

section {
    margin-left: 15%;
}

.vertical-navbar {
    position: fixed;
    left: 0;
    width: 15%;
    height: 100%;
    background: pink;

}

.vertical-navbar ul {
    margin: 5px;
    padding: 10px;
}

.vertical-navbar a {
    color: black;
    text-decoration: none;
}

.vertical-navbar li {
    background: #ffd3da;
    list-style-type: none;
    font-size: 12px;
    padding: 5px;
    margin-bottom: 5px;
    border-radius: 10px;
}

.vertical-navbar img {
    margin-right: 10px;
}

.vertical-navbar li,
.vertical-navbar img {
    vertical-align: middle;
}

.vertical-navbar li:hover {
    background: #ffaebb;
}

.vertical-navbar li:active {
    background: #ff5773;
}